<div class="jumbotron">
    <h1>1st Angular...</h1>
    <p class="lead">Angular bla bla</p>
    <p><a href="http://angular.io" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <my-app>Loading AppComponent content here ...</my-app>
</div>
